<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Lapangin - Login</title>
  </head>

  <body>
    <section class="home">
      <section class="container2 forms">
        <div class="form login" id="login-container">
          <div class="form-content">
            <h1 class="head">Login</h1>
            <!-- Login form -->
            <form
              id="login-form"
              method="post"
              th:action="@{/login}"
              th:object="${customer}"
            >
              <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
              <div class="field input-field">
                <input
                  id="login-username"
                  type="text"
                  th:field="*{username}"
                  placeholder="Username"
                  class="input"
                  required
                />
                <!-- Error message untuk username -->
                <div
                  id="login-username-error"
                  th:if="${#fields.hasErrors('username')}"
                  th:errors="*{username}"
                  class="error"
                ></div>
              </div>
              <div class="field input-field">
                <input
                  id="login-password"
                  type="password"
                  th:field="*{password}"
                  placeholder="Password"
                  class="password"
                  required
                />
                <i class="bx bx-hide eye-icon"></i>
                <!-- Error message untuk password -->
                <div
                  id="login-password-error"
                  th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}"
                  class="error"
                ></div>
              </div>

              <!-- Pesan error umum dari server -->
              <div
                id="login-general-error"
                th:if="${errorMessage}"
                class="error-message"
              >
                <p th:text="${errorMessage}"></p>
              </div>

              <div class="field button-field">
                <button type="submit">Login</button>
              </div>
            </form>

            <!-- Redirect ke Signup -->
            <div class="form-link">
              <span>
                Don't have an account?
                <a th:href="@{/register}" class="link signup-link">Signup</a>
              </span>
            </div>
          </div>
        </div>
      </section>
    </section>

    <!-- Scripts -->
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/log.js}"></script>
  </body>
</html>
